{{extend 'my_layout.html'}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">NO#</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">CHARGES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1.</th>
      <td>Walk-In(1 person)</td>
      <td>GHc 30.00</td>
    </tr>
    <tr>
      <th scope="row">2.</th>
      <td>Walk-In(Couple)</td>
      <td>GHc 50.00</td>
    </tr>
    <tr>
      <th scope="row">3.</th>
      <td>15 Sessions</td>
      <td>GHc 400.00</td>
    </tr>
    <tr>
      <th scope="row">4.</th>
      <td>15 Sessions</td>
      <td>GHc 400.00</td>
    </tr>
    <tr>
      <th scope="row">5.</th>
      <td>3 Months membership</td>
      <td>GHc 700.00</td>
    </tr>
    <tr>
      <th scope="row">6.</th>
      <td>6 Months membership</td>
      <td>GHc 1,200.00</td>
    </tr>
    <tr>
      <th scope="row">7.</th>
      <td>1 Year membership</td>
      <td>GHc 1800.00</td>
    </tr>
  </tbody>
</table>

{{include}}