{{extend 'my_layout.html'}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div style="background:transparent !important" class="jumbotron">
				<h1 style="color: white">UNLEASH YOUR INNER STRENGTH</h1>
			  	<h2 style="color:white">DISCOVER YOUR PHYSICAL POTENTIAL WITH SPARTAN FITNESS</h2>
			  	<p><a class="btn btn-primary btn-lg" href="{{=URL('register.html')}}" role="button">SIGN UP NOW</a></p>
			</div>
		</div>
		<div class="col-md-8"></div>
	</div>
</div>
{{include}}