.form-div {
	margin-top: 1px;
	border: 1px solid #333;
	border-color: black;
	padding: 20px;
	background-color: white;
	background: transparent !important; 
}

.jumbotron {
	margin-top: 70px;
	color: white;
}

a {
	color: white;
}

table {
	color: white;
}